fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
motor
passlib[bcrypt]
python-jose[cryptography]
python-multipart
ffmpeg-python
static-ffmpeg
pydantic-settings
yt-dlp
groq
python-dotenv
pytest
httpx
